@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.singup__section {
   height: 500px;
   display: flex;
   justify-content: center;
   background-color: white;
   border: none !important;
   box-shadow: -19px 14px 43px 14px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.signup__section-form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 450px;
   font-family: 'Manrope';

}

.signup__section-form h3 {
   font-weight: 900;
   margin-top: 1rem;
}

.signup__section-form a {
   color: #5551FF;
}

.signup__section-input {
   border: 1px solid var(--gray-color-02);
   width: 100%;
   display: flex;
   flex-direction: column;
   color: var(--gray-color-02);
   border-radius: 3px;
   margin: 0.8rem 0;
}

.signup__section-input:focus-within {
   border: 2px solid #5731AC;
}

.signup__section-input label {
   flex: 1;
   font-family: 'Rubik';
   font-size: 0.8rem;
   padding-left: 5px;
}

.signup__section-input input {
   flex: 3;
   outline: none;
   font-size: 1.2rem;
   padding-left: 5px;
   font-family: 'Roboto';
   border: none;
   color: var(--gray-color-02);
   background-color: none !important;
}

.signup__section-input input:focus {
   outline: none;
}

.signup__section-terms-services {
   border: none;
}

.singup__section-errors {
   color: rgba(218, 28, 28, 0.726);
}

.singup__section-button {
   height: 3rem;
   background: #673AB7;
   background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
   background: linear-gradient(to right, #512DA8, #673AB7);
   color: #fff;
   font-weight: 700;
   border: none;
   outline: none;
   -webkit-box-shadow: 0px 1px 46px -16px rgba(124, 49, 222, 1);
   -moz-box-shadow: 0px 1px 46px -16px rgba(124, 49, 222, 1);
   box-shadow: 0px 1px 46px -16px rgba(124, 49, 222, 1);
}

.singup__section-button:hover {
   background: #673AB7;
   background: -webkit-linear-gradient(to top, #512DA8, #673AB7);
   background: linear-gradient(to top, #512DA8, #673AB7);
   transition: all 3s ease-in;

}